# Dumps de flash (grandes, não devem ir pro git sem pensar)
*.bin
dump*.bin
backup*.bin

# Exceção: bins de config da pasta private/ (assets de referência, <150KB)
!private/bin/*.bin

# Python
__pycache__/
*.pyc

# Arduino build
build/
.arduino/

# Sistema
.DS_Store
